{%load static%}
    <!-- Feadtued Categories -->

    <div class="categories">
        <div class="small-container">
            <div class="row">
                <div class="col-3">
                    <img src="{% static 'images/thali.jpg'%}">
                </div>
                <div class="col-3">
                    <img src="{% static 'images/sea.jpg'%}">
                </div>
                <div class="col-3">
                    <img src="{% static 'images/non.avif'%}">
                </div>
            </div>
        </div>
    </div>

    <!-- Featured Products -->

    <div class="small-container">
        <h2 class="title">Most Ordered</h2>
        <div class="row">
            <div class="col-4">
                <a href="product_details.html"><img src="{% static 'images/food5.jpg'%}"></a>
                <h4>Mysore MasalaDosa</h4>
                <div class="rating">
                    <i class="fa fa-star"></i>
                    <i class="fa fa-star"></i>
                    <i class="fa fa-star"></i>
                    <i class="fa fa-star"></i>
                    <i class="fa fa-star-o"></i>
                </div>
                <p>₹100</p>
            </div>
            <div class="col-4">
                <img src="{% static 'images/pizza.jpeg'%}">
                <h4>Dominos Pizza</h4>
                <div class="rating">
                    <i class="fa fa-star"></i>
                    <i class="fa fa-star"></i>
                    <i class="fa fa-star"></i>
                    <i class="fa fa-star"></i>
                    <i class="fa fa-star-o"></i>
                </div>
                <p>₹250.00</p>
            </div>
            <div class="col-4">
                <img src="{% static 'images/biriyani.webp'%}">
                <h4>Chicken Biriyani</h4>
                <div class="rating">
                    <i class="fa fa-star"></i>
                    <i class="fa fa-star"></i>
                    <i class="fa fa-star"></i>
                    <i class="fa fa-star"></i>
                    <i class="fa fa-star-o"></i>
                </div>
                <p>₹180</p>
            </div>
            <div class="col-4">
                <img src="{% static 'images/burger.jpeg'%}">
                <h4>Cheesy Burger</h4>
                <div class="rating">
                    <i class="fa fa-star"></i>
                    <i class="fa fa-star"></i>
                    <i class="fa fa-star"></i>
                    <i class="fa fa-star"></i>
                    <i class="fa fa-star-o"></i>
                </div>
                <p>₹280</p>
            </div>
        </div>
        <h2 class="title">Latest to the Menu</h2>
        <div class="row">
            <div class="col-4">
                <img src="{% static 'images/food1.jpg'%}">
                <h4>Paneer Kebab</h4>
                <div class="rating">
                    <i class="fa fa-star"></i>
                    <i class="fa fa-star"></i>
                    <i class="fa fa-star"></i>
                    <i class="fa fa-star"></i>
                    <i class="fa fa-star-o"></i>
                </div>
                <p>₹150</p>
            </div>
            <div class="col-4">
                <img src="{% static 'images/food2.webp'%}">
                <h4>butter Chicken</h4>
                <div class="rating">
                    <i class="fa fa-star"></i>
                    <i class="fa fa-star"></i>
                    <i class="fa fa-star"></i>
                    <i class="fa fa-star"></i>
                    <i class="fa fa-star-o"></i>
                </div>
                <p>₹290</p>
            </div>
            <div class="col-4">
                <img src="{% static 'images/food3.avif'%}">
                <h4>Crab Roast</h4>
                <div class="rating">
                    <i class="fa fa-star"></i>
                    <i class="fa fa-star"></i>
                    <i class="fa fa-star"></i>
                    <i class="fa fa-star"></i>
                    <i class="fa fa-star-o"></i>
                </div>
                <p>₹350</p>
            </div>
            <div class="col-4">
                <img src="{% static 'images/alfam.jpg'%}">
                <h4>Peri Peri Alfam</h4>
                <div class="rating">
                    <i class="fa fa-star"></i>
                    <i class="fa fa-star"></i>
                    <i class="fa fa-star"></i>
                    <i class="fa fa-star"></i>
                    <i class="fa fa-star-o"></i>
                </div>
                <p>₹480</p>
            </div>
        </div>
        <div class="row">
            <div class="col-4">
                <img src="{% static 'images/sadya.webp'%}">
                <h4>Sadhya</h4>
                <div class="rating">
                    <i class="fa fa-star"></i>
                    <i class="fa fa-star"></i>
                    <i class="fa fa-star"></i>
                    <i class="fa fa-star"></i>
                    <i class="fa fa-star-o"></i>
                </div>
                <p>₹350</p>
            </div>
            <div class="col-4">
                <img src="{% static 'images/rasb.jpg'%}">
                <h4>Raspberry Oreo Cake/h4>
                <div class="rating">
                    <i class="fa fa-star"></i>
                    <i class="fa fa-star"></i>
                    <i class="fa fa-star"></i>
                    <i class="fa fa-star"></i>
                    <i class="fa fa-star-o"></i>
                </div>
                <p>₹250</p>
            </div>
            <div class="col-4">
                <img src="{% static 'images/mush.webp'%}">
                <h4>Mushroom Soup</h4>
                <div class="rating">
                    <i class="fa fa-star"></i>
                    <i class="fa fa-star"></i>
                    <i class="fa fa-star"></i>
                    <i class="fa fa-star"></i>
                    <i class="fa fa-star-o"></i>
                </div>
                <p>₹180</p>
            </div>
            <div class="col-4">
                <img src="{% static 'images/maj.webp'%}">
                <h4>Chicken Mujboos/h4>
                <div class="rating">
                    <i class="fa fa-star"></i>
                    <i class="fa fa-star"></i>
                    <i class="fa fa-star"></i>
                    <i class="fa fa-star"></i>
                    <i class="fa fa-star-o"></i>
                </div>
                <p>₹450</p>
            </div>
        </div>
    </div>

    <!-- Offer -->
    <div class="offer">
        <div class="small-container">
            <div class="row">
                <div class="">
                    <img src="{% static 'images/cou.jpg'%}">
                </div>
                <div class="col-2">
                    <p>Exclusively Available on Foodie Xpress</p>
                    <h1>200+ Restaurants</h1>
                    <small> Get ready for a delicious adventure packed with unbeatable dining offers at your favorite restaurants. Whether you’re craving a cheesy pizza, a juicy burger, or a delightful bowl of pasta, now is the perfect time to head out and indulge in your favorite meals—while saving big! <br></small>
                    <a href="{% url 'list_products'%}" class="btn">Order Now &#8594;</a>
                </div>
            </div>
        </div>
    </div>


    <!-- Testimonial -->
    <div class="testimonial">
        <div class="small-container">
            <div class="row">
                <div class="col-3">
                    <i class="fa fa-quote-left"></i>
                    <p>“Food is symbolic of love when words are inadequate.”</p>
                    <div class="rating">
                        <i class="fa fa-star"></i>
                        <i class="fa fa-star"></i>
                        <i class="fa fa-star"></i>
                        <i class="fa fa-star"></i>
                        <i class="fa fa-star"></i>
                    </div>
                    <img src="{% static 'images/al.webp'%}">
                    <h3>Alan D. Wolfelt</h3>
                </div>
                <div class="col-3">
                    <i class="fa fa-quote-left"></i>
                    <p>“A recipe has no soul. You, as the cook, must bring soul to the recipe.” </p>
                    <div class="rating">
                        <i class="fa fa-star"></i>
                        <i class="fa fa-star"></i>
                        <i class="fa fa-star"></i>
                        <i class="fa fa-star"></i>
                        <i class="fa fa-star"></i>
                    </div>
                    <img src="{% static 'images/t.jpg'%}">
                    <h3> Thomas Keller</h3>
                </div>
                <div class="col-3">
                    <i class="fa fa-quote-left"></i>
                    <p>“Life is uncertain. Eat dessert first.”</p>
                    <div class="rating">
                        <i class="fa fa-star"></i>
                        <i class="fa fa-star"></i>
                        <i class="fa fa-star"></i>
                        <i class="fa fa-star"></i>
                        <i class="fa fa-star"></i>
                    </div>
                    <img src="{% static 'images/e.JPG'%}">
                    <h3> Ernestine Ulmer</h3>
                </div>
            </div>
        </div>
    </div>
